@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Ubuntu&display=swap');



.btn
{
  background-color: black 
}
.btn:hover
{
  background-color: orange;
  color: black

}